[build]
  publish = "build/web"
  command = ""  # Already built locally

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "max-age=31536000"
